{% extends '@EstiamBlog/layout.html.twig' %}

{% block body %}
    <div style="float: left;">
        <h2>Vos annonces</h2>
        <form action="{{ path('admin_post_list') }}" method="post">
            <select name="state" id="state">
                <option value="0">Brouillons</option>
                <option value="1">Publiés</option>
                <option value="2">Terminés</option>
            </select>
            <button type="submit">GO</button>
        </form>
        {% for post in posts %}
            <h4>{{ post.title }}</h4>
            <p>Par {{ post.description }}</p>
            <a href="{{ path('admin_post_view', {'id_post': post.id}) }}">Voir</a> <a href="{{ path('admin_post_update', {'id_post': post.id}) }}">Editer</a> <a href="{{ path('admin_post_delete', {'id_post': post.id}) }}">Supprimer</a>
        {% endfor %}
    </div>


{% endblock %}