{% extends '@EstiamBlog/layout.html.twig' %}

{% block body %}
    <h2>Vos annonces</h2>
    {% include '@EstiamBlog/admin/filters.html.twig' %}
    <div class="card mb-4">
        <div class="card-block">
            <h3 class="card-title">Annonces</h3>
            <h6 class="card-subtitle mb-2 text-muted">les plus récentes</h6>
            <div class="divider" style="margin-top: 1rem;"></div>
            <div class="articles-container">
                {% if posts %}
                {% for post in posts %}
                    <div class="article">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-2 date">
                                    <div class="large">{{ post.createdAt|date('d') }}</div>
                                    <div class="text-muted">{{ post.createdAt|date('M') }}</div>
                                    <div class="text-muted">{{ post.createdAt|date('Y') }}</div>
                                </div>
                                <div class="col-10">
                                    <h4><a href="{{ path('view_post', {'id_post': post.id}) }}">{{ post.title }}</a>
                                    </h4>
                                    <a class="btn btn-warning btn-sm"
                                       href="{{ path('admin_post_update', {'id_post': post.id}) }}">Editer</a>
                                    <a class="btn btn-danger btn-sm"
                                       href="{{ path('admin_post_delete', {'id_post': post.id}) }}">Supprimer</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div><!--End .article-->
                {% endfor %}
                {% else %}
                <p>Pas d'annonces</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
